.albums-list {
    margin-bottom: 20px;
}

.albums-list__item {
    min-height: 220px;
}

.albums-list__cover {
    position: relative;
    height: 180px;
    margin-bottom: 10px;
    overflow: hidden;
    text-align: center;
}

.albums-list__cover-image {
    position: absolute;
    height: 100%;
	top: 0;
	left: 0;
}

.albums-list__cover-image:empty
{
	left: 50%;
	-webkit-transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	-ms-transform: translate(-50%, 0%);
	-o-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
}

.albums-list__title {
    min-height: 16px;
    text-align: center;
}

.albums-list__footer {
    text-align: right;
}

.albums-list__all-albums-link {
    line-height: 12px;
    display: inline-block;
    width: 170px;
    padding: 10px;
    text-transform: lowercase;
    background: url("../img/bg.jpg");
    color: #FFF;
}

.albums-list__all-albums-link:hover {
    color: #FFF !important;
}
