.album {
}

.album__item {
    position: relative;
    height: 240px;
    margin-bottom: 25px;
}

.album__item-image {
    position: relative;
    height: 240px;
    margin-bottom: 15px;
    text-align: center;
    overflow: hidden;
}

.album__item-image img {
    position: absolute;
    height: 100%;
	top: 0;
	left: 0;
}

.album__item-image img:empty
{
	left: 50%;
	-webkit-transform: translate(-50%, 0%);
	-moz-transform: translate(-50%, 0%);
	-ms-transform: translate(-50%, 0%);
	-o-transform: translate(-50%, 0%);
	transform: translate(-50%, 0%);
}

.album__item-footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 48px;
    padding: 8px;
    background: rgba(255, 255, 255, .6);
}

.album__item-title {
    text-align: center;
    height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.album__item-description {
    font-size: 12px;
    height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    color: #999;
}

.albums-list__all-albums-link {
    line-height: 12px;
    display: inline-block;
    width: 170px;
    padding: 10px;
    text-transform: lowercase;
    background: url("../img/bg.jpg");
    color: #FFF;
}
