.lightbox {

}

.lightbox__item {
    cursor: pointer;
}

.lightbox__shadow {
    position: fixed;
    top:0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 60px;
    background: rgba(0,0,0,.8);
}

.lightbox__image-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    min-height: 100px;
    min-width: 100px;
    margin: -50px 0 0 -50px;
    text-align: center;
}

.lightbox__arrows {
    font-size: 24px;
    text-align: center;
    color: #FFF;
}

.lightbox__arrow {
    z-index: 1000;
    position: absolute;
    top: 50%;
    margin: -75px 0 0;
    padding: 60px 10px;
    opacity: .6;
    cursor: pointer;
}

.lightbox__arrow_direction_next {
    right: -45px;
}

.lightbox__arrow_direction_prev {
    left: -45px;
}

.lightbox__closer {
    font-family: "Lucida Grande", "Helvetica Nueue", Arial, sans-serif;
    font-size: 12px;
    line-height: 13px;
    position: absolute;
    right: -10px;
    top: -10px;
    height: 20px;
    width: 20px;
    text-align: center;
    background: #000;
    border: solid 3px #FFF;
    border-radius: 50%;
    color: #FFF;
    cursor: pointer;
}

.lightbox__arrow:hover {
    opacity: 1;
}
