.videos-list {
    margin-bottom: 40px;
}

.videos-list__item {
    height: 280px;
    margin-bottom: 25px;
}

.videos-list__cover {
    height: 240px;
    margin-bottom: 15px;
    text-align: center;
}

.videos-list__cover-image {
    max-width: 100%;
    max-height: 100%;
}

.videos-list__title {
    height: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.videos-list__footer {
    text-align: right;
}

.videos-list__all-videos-link {
    line-height: 12px;
    display: inline-block;
    width: 170px;
    padding: 10px;
    text-transform: lowercase;
    background: url("../img/bg.jpg");
    color: #FFF;
}

.videos-list__all-videos-link:hover {
    color: #FFF !important;
}
