{% load sekizai_tags %}

{% addtoblock "js" %}
    <script src="{{ STATIC_URL }}bem/modules/modules.js"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
    <script src="{{ STATIC_URL }}bem/i-bem/i-bem.vanilla.js"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
    <script src="{{ STATIC_URL }}bem/i-bem/__internal/i-bem__internal.vanilla.js"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
    <script src="{{ STATIC_URL }}bem/inherit/inherit.vanilla.js"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
    <script src="{{ STATIC_URL }}bem/identify/identify.vanilla.js"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
    <script src="{{ STATIC_URL }}bem/next-tick/next-tick.vanilla.js"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
    <script src="{{ STATIC_URL }}bem/objects/objects.vanilla.js"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
    <script src="{{ STATIC_URL }}bem/functions/functions.vanilla.js"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
    <script src="{{ STATIC_URL }}bem/events/events.vanilla.js"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
    <script src="{{ STATIC_URL }}bem/i-bem/__dom/i-bem__dom.js"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
    <script src="{{ STATIC_URL }}bem/jquery/jquery.js"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
    <script src="{{ STATIC_URL }}bem/loader/_type/loader_type_js.js"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
    <script src="{{ STATIC_URL }}bem/jquery/__config/jquery__config.js"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
    <script src="{{ STATIC_URL }}bem/desktop.blocks/jquery/__config/jquery__config.js"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
    <script src="{{ STATIC_URL }}bem/desktop.blocks/ua/ua.js"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
    <script src="{{ STATIC_URL }}bem/dom/dom.js"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
    <script src="{{ STATIC_URL }}bem/i-bem/__dom/_init/i-bem__dom_init.js"></script>
{% endaddtoblock %}
{% addtoblock "js_end" %}
    <script src="{{ STATIC_URL }}bem/i-bem/__dom/_init/i-bem__dom_init_auto.js"></script>
{% endaddtoblock %}
