{% load thumbnail i18n sekizai_tags %}
{% addtoblock "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/blocks/latest-news.css" />
{% endaddtoblock %}

<div class="latest-news">
    {% for news in object_list %}
        <div class="latest-news__item {% if forloop.last %}last-item{% endif %}">
            {% if news.title %}
                <h1 class="latest-news__title"><a href="{% url 'news:news_item' year=news.pub_date|date:'Y' month=news.pub_date|date:'m' day=news.pub_date|date:"d" pk=news.pk  %}">{{ news.title }}</a></h1>
            {% endif %}
            <div class="latest-news__description">
                <a  class="latest-news__link"
                    href="{% url 'news:news_item' year=news.pub_date|date:'Y' month=news.pub_date|date:'m' day=news.pub_date|date:"d" pk=news.pk  %}">
                    {{ news.description|truncatewords_html:25|safe }}
                </a>
            </div>
            {% if instance.show_cover and news.content_object.cover %}
                <p>
                 <a href="{% url 'news:news_item' year=news.pub_date|date:'Y' month=news.pub_date|date:'m' day=news.pub_date|date:"d" pk=news.pk  %}">
                     <img class="albums-list__cover-image"
                        src="{% thumbnail news.content_object.cover 360x240 crop %}" alt=""/></a>
                </p>
            {% endif %}
            <p class="latest-news__pubdate"><time>{{ news.pub_date|date:"d E, Y" }}</time></p>
        </div>
    {% empty %}
        <div class="latest-news__item">{% trans "Sorry, we don't have news yet" %}</div>
    {% endfor %}
    <p class="latest-news__footer"><a class="latest-news__archive-link" href="{% url 'news:news_index' %}">{% trans "Архив новостей" %}</a></p>
</div>

