{% extends CMS_TEMPLATE %}
{% load thumbnail i18n sekizai_tags %}

{% block content %}
{% addtoblock 'css' %}
    <link rel="stylesheet" href="{{ STATIC_URL }}eifman_teaser/css/eifman-tsr.css"/>
{% endaddtoblock %}
{% addtoblock "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}news/css/news-list.css" />
{% endaddtoblock %}

<h1 class="col-md-offset-2 col-sm-offset-2">{% if category %}{{ category }}{% else %}{% trans "Recent news" %}{% endif %}</h1>

<div class="news-list">
    {% for news in object_list %}
        <div class="row eifman-tsr">
            <div class="col-md-4 col-sm-4 col-md-offset-2 col-md-offset-2">
                {% if news.content_object.cover %}
                    <a href="{% url 'news:news_item' year=news.pub_date|date:'Y' month=news.pub_date|date:'m' day=news.pub_date|date:"d" pk=news.pk  %}"><img class="eifman-tsr__image" src="{% thumbnail news.content_object.cover 360x240 crop %}" /></a>
                {% elif news.cover_image %}
                    <a href="{% url 'news:news_item' year=news.pub_date|date:'Y' month=news.pub_date|date:'m' day=news.pub_date|date:"d" pk=news.pk  %}"><img class="eifman-tsr__image" src="{% thumbnail news.cover_image 360x240 crop %}" /></a>
                {% endif %}
            </div>

            <article class="col-md-6 col-sm-6 eifman-tsr__data">
                <h2 class="eifman-tsr__title">
                    <a href="{% url 'news:news_item' year=news.pub_date|date:'Y' month=news.pub_date|date:'m' day=news.pub_date|date:"d" pk=news.pk  %}">{{ news.title }}</a>
                </h2>

                <div class="eifman-tsr__text">{{ news.description|truncatewords_html:25|safe }}</div>
                <p class="latest-news__pubdate"><time>{{ news.pub_date|date:"d E, Y" }}</time></p>
            </article>
        </div>
    {% empty %}
        <div>{% trans "No news for this day" %}</div>
    {% endfor %}

    <div class="news-list__pager">
        {% if is_paginated %}
            {% for page_item in page_obj.paginator.page_range %}
                {% if page_item == page_obj.number %}
                    {{ page_item }}
                {% else %}
                    <a class="news-list__pager-link" href="{% url 'news:news_index' %}?page={{ page_item }}">{{ page_item }}</a>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}
