{% extends CMS_TEMPLATE %}
{% load i18n thumbnail sekizai_tags %}
{% block extrahead %}
    {% addtoblock "css" %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/blocks/news-item.css"/>
    {% endaddtoblock %}
    {% addtoblock "css" %}
        <link rel="stylesheet" href="{{ STATIC_URL }}gallery/css/gallery.css"/>
    {% endaddtoblock %}
    {% addtoblock 'js_end' %}
        <script src="{{ STATIC_URL }}gallery/js/gallery.js"></script>
    {% endaddtoblock %}

    {{ block.super }}
{% endblock %}

{% block content %}
    <div class="content content__news">
        <article class="news-item">
            <h1 class="news-item__title">{{ object.title }}</h1>

            <div>
                <a class="news-item__archive-link" href="{% url 'news:news_index' %}">{% trans "Архив новостей" %}</a>
            </div>

            {% if news.content_object.cover %}
                <div class="news-item__gallery gallery i-bem"
                     data-bem='{"gallery": {"nav_options": "DOT", "show_arrows": "WHEN_NEEDED"}}'
                     id="gallery_{{ news.id }}">
                    <section class="gallery__content">
                        <div class="gallery__wrapper">
                            {% for file in news.content_object.folder.files %}
                                <div class="gallery__item">
                                    <img src="{% thumbnail file 800x600 crop %}" alt=""/>
                                </div>
                            {% endfor %}
                        </div>
                        <div class="gallery__arrow gallery__arrow_disabled gallery__arrow_direction_left"></div>
                        <div class="gallery__arrow gallery__arrow_disabled gallery__arrow_direction_right"></div>
                    </section>
                    <div class="row gallery__nav gallery__nav_type_DOT">
                        {% for file in news.content_object.folder.files %}
                            <span data-index="{{ forloop.counter0 }}"
                                  class="gallery__nav-item gallery__nav-item_type_DOT"></span>
                        {% endfor %}
                    </div>
                </div>

                <p class="news-item__buttons"><a class="news-item__album-link" href="{{ news.content_object.get_absolute_url }}">{% trans "Перейти в альбом" %}</a></p>
            {% endif %}

            <div class="news-item__text">
                {{ object.description|safe }}
            </div>

            <p class="news-item__pub-date">{{ object.pub_date|date:"d E, Y" }}</p>
        </article>
    </div>
{% endblock %}
