{% load thumbnail i18n sekizai_tags %}
{% addtoblock "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/blocks/latest-news.css" />
{% endaddtoblock %}
{% addtoblock 'css' %}
    <link rel="stylesheet" href="{{ STATIC_URL }}eifman_teaser/css/eifman-tsr.css"/>
{% endaddtoblock %}

<div class="latest-news">
    <h2 class="col-md-offset-2 col-sm-offset-2 latest-news__category-title">{{ instance.category }}</h2>

    {% for news in object_list %}
        <div class="row eifman-tsr">
            <div class="col-md-4 col-sm-4 col-md-offset-2 col-sm-offset-2">
                {% if instance.show_cover and news.content_object.cover %}
                    <a href="{% url 'news:news_item' year=news.pub_date|date:'Y' month=news.pub_date|date:'m' day=news.pub_date|date:"d" pk=news.pk  %}"><img class="eifman-tsr__image" src="{% thumbnail news.content_object.cover 360x240 crop %}" /></a>
                {% endif %}
            </div>

            <article class="col-md-6 col-sm-6 eifman-tsr__data">
                <h2 class="eifman-tsr__title">
                    <a href="{% url 'news:news_item' year=news.pub_date|date:'Y' month=news.pub_date|date:'m' day=news.pub_date|date:"d" pk=news.pk  %}">{{ news.title }}</a>
                </h2>

                <div class="eifman-tsr__text">{{ news.description|truncatewords_html:25|safe }}</div>
                <p class="latest-news__pubdate"><time>{{ news.pub_date|date:"d E, Y" }}</time></p>
            </article>
        </div>
    {% empty %}
        <div class="latest-news__item">{% trans "Sorry, we don't have projects yet" %}</div>
    {% endfor %}
    <p class="latest-news__footer"><a class="latest-news__archive-link" href="{% url 'news:news_category_list' category_id=instance.category.id %}">{% trans "все проекты" %}</a></p>
</div>
