{% load cms_tags sekizai_tags %}

{% addtoblock "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}gallery/css/gallery.css"/>
{% endaddtoblock %}
{% addtoblock 'js_end' %}
    <script src="{{ STATIC_URL }}gallery/js/gallery.js"></script>
{% endaddtoblock %}

<div class="gallery i-bem" data-bem="{{ js_params }}" id="gallery_{{ instance.id }}">
    <section class="gallery__content">
        <div class="gallery__wrapper">
        {% for plugin in instance.child_plugin_instances %}
            <div class="gallery__item">
                {% render_plugin plugin %}
            </div>
        {% endfor %}
        </div>
        <div class="gallery__arrow gallery__arrow_disabled gallery__arrow_direction_left"></div>
        <div class="gallery__arrow gallery__arrow_disabled gallery__arrow_direction_right"></div>
    </section>
    {% if instance.nav_options != 'NONE' %}
    <div class="row gallery__nav gallery__nav_type_{{ instance.nav_options }}">
        {% for plugin in instance.child_plugin_instances %}
            <span data-index="{{ forloop.counter0 }}" class="{% if instance.nav_options == 'THUMBNAIL' %}col-md-2 col-sm-2{% endif %} gallery__nav-item gallery__nav-item_type_{{ instance.nav_options }}">
                {% if instance.nav_options == 'THUMBNAIL' %}
                    <img src="" class="gallery__thumbnail">
                {% endif %}
            </span>
        {% endfor %}
    </div>
    {% endif %}
</div>
