{% load i18n thumbnail sekizai_tags %}

<section class="albums-list">
    <div class="albums-list row">
        {% for album in albums %}
            <div class="albums-list__item col-md-3 col-sm-3">
                <div class="albums-list__cover">
                    <a href="{{ album.get_absolute_url }}"><img class="albums-list__cover-image"
                                                                src="{% thumbnail album.cover 360x240 crop %}" alt=""/></a>
                </div>
                <div class="albums-list__title"><a href="{{ album.get_absolute_url }}">{{ album.title }}</a></div>
            </div>
            {% if forloop.counter == 4 %}</div><div class="albums-list row">{% endif %}
        {% endfor %}
    </div>
    <div class="albums-list__footer"><a class="albums-list__all-albums-link"
                                        href="{% url 'gallery:gallery_albums_list' %}">{% trans 'все альбомы' %}</a>
    </div>
</section>
