{% load i18n thumbnail sekizai_tags %}

<section class="videos-list">
    <div class="row">
        {% for video in videos %}
            <div class="videos-list__item col-md-4 col-sm-4">
                <div class="videos-list__cover">
                    <iframe width="100%"
                            height="100%"
                            src="{{ video.url.embed_url }}"
                            frameborder="0"
                            allowfullscreen></iframe>
                </div>
                <div class="videos-list__title">{{ video.title }}</div>
            </div>
        {% endfor %}
    </div>
    <div class="videos-list__footer"><a class="videos-list__all-videos-link"
                                        href="http://www.youtube.com/channel/UCuEynaKU9eefkhhmxdvQ5tg">{% trans 'посмотреть все видео' %}</a>
    </div>
</section>
