<!DOCTYPE html>
{% load cms_tags staticfiles sekizai_tags bootstrap3 analytics bem_tags %}
<html>
<head>
    <title>{% block title %}{% page_attribute "page_title" %}{% endblock %}</title>
    {% include "inc/meta.html" %}

    {% render_block "css" postprocessor "compressor.contrib.sekizai.compress" %}

    {% addtoblock "css" %}
        <link rel="stylesheet" href="{% bootstrap_css_url %}"/>
    {% endaddtoblock %}

    {% block extrahead %}{% endblock %}

    {% addtoblock "js" %}
        <script src="{{ STATIC_URL }}js/jquery-1.11.1.min.js"></script>
    {% endaddtoblock %}

    {% analytics %}
    {% bem_core %}

{#    {% addtoblock "js" %}#}
{#    {% endaddtoblock %}#}
</head>
<body>
{% cms_toolbar %}
{% block layout %}{% endblock %}
{% block extrajs %}{% endblock %}
{% render_block "js" postprocessor "compressor.contrib.sekizai.compress" %}
{% bootstrap_javascript jquery=0 %}
{% render_block "js_end" %}
</body>
</html>
