{% extends '__layout.html' %}
{% load cms_tags sekizai_tags menu_tags i18n %}

{% block base_content %}
    {% addtoblock "css" %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/pages/conception-page.css"/>
    {% endaddtoblock %}

    <div class="container">
    {% block breadcrumbs %}
        {% show_breadcrumb 'inc/breadcrumb.html' %}
    {% endblock %}

        <div class="row">
            <div class="col-md-6 col-sm-6">
            {% placeholder 'conception__intro_image' %}
            </div>

            <div class="col-md-6 col-sm-6">
            {% placeholder 'conception__intro_text' %}
            </div>
        </div>

        <h2 class="page__h2">{% trans 'Миссия' %}</h2>

        <div class="row conception-page__mission-text">
            {% placeholder 'conception__mission_text' %}
        </div>
    </div>

    <div class="page__belt">
        <div class="container">
            <h2 class="page__h2 page__h2_inside-block_yes">{% trans 'Цели' %}</h2>

            <div class="row conception-page__goals-text">
                {% placeholder 'conception-page__goals_text' %}
            </div>
        </div>
    </div>

    <div class="container">
        <h2 class="page__h2">{% trans 'Задачи' %}</h2>

        <div class="row">
            <div class="col-md-4 col-sm-4 col-md-offset-2 col-sm-offset-2 conception-page__tasks-images">
                {% placeholder 'conception-page__tasks_images' %}
            </div>
            <div class="col-md-6 col-sm-6 conception-page__tasks-text">
                {% placeholder 'conception-page__tasks_text' %}
            </div>
        </div>
    </div>
{% endblock %}
