{% extends '__layout.html' %}
{% load cms_tags sekizai_tags menu_tags i18n %}

{% block base_content %}
    {% addtoblock "css" %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/pages/enter-page.css"/>
    {% endaddtoblock %}

    <div class="container enter">
        {% block breadcrumbs %}
            {% show_breadcrumb 'inc/breadcrumb.html' %}
        {% endblock %}

        <h3 class="page__h3">{% trans 'Поступление' %}</h3>

        <div class="row">
            <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2">
                {% placeholder 'enter__intro' %}
            </div>
        </div>

        <div class="enter__banner">
            {% placeholder 'enter__banner' %}
        </div>

        <h3 class="page__h3">{% trans 'Вступительные экзамены' %}</h3>

        <div class="row">
            <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2 enter__exams">
                {% placeholder 'enter__exams' %}
            </div>
        </div>
    </div>

    <div class="page__belt enter__belt">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-5 col-md-offset-1 col-sm-offset-1">
                    {% placeholder 'enter__phones' %}
                </div>
                <div class="col-md-6 col-sm-6">
                    {% placeholder 'enter__applications' %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2 enter__comment">
            {% placeholder 'enter__comment' %}
        </div>
    </div>
{% endblock %}
