{% extends '__layout.html' %}
{% load cms_tags sekizai_tags %}

{% block page_head %}
    {% include 'inc/header.html' %}

    {% placeholder 'promo' %}

    {% include 'inc/menu-main.html' %}
{% endblock %}

{% block base_content %}
    {% addtoblock "css" %}
        <link rel="stylesheet" href="{{ STATIC_URL }}css/blocks/welcome.css"/>
    {% endaddtoblock %}

    <div class="container">
    <div class="row">
        <section class="col-md-8 col-sm-8">
            <div class="welcome">
                <div class="welcome__images">
                    {% placeholder 'welcome_image' %}
                </div>
                <div class="welcome__text">
                    {% placeholder 'welcome_text' %}
                </div>
            </div>
        </section>
        <aside class="col-md-4 col-sm-4">
            {% placeholder 'aside' %}
        </aside>
    </div>
    </div>
{% endblock %}
