.contacts__address {
    font-size: 20px;
    padding-top: 10px;
}

.contacts__map {
    height: 335px;
    margin-bottom: 30px;
}

.contacts__officials {
    margin-bottom: 40px;
}

.contacts__official {
    font-size: 16px;
    margin-bottom: 10px;
}

.contacts__official-position {
    color: #888;
    text-align: right;
}

.contacts__thanks {
    font-size: 20px;
    text-align: center;
}
