.feedback-form {
    margin-bottom: 45px;
}

.feedback-form__row {
    margin-bottom: 15px;
}

.feedback-form label {
    font-size: 16px;
    font-weight: normal;
    display: block;
}

.feedback-form input,
.feedback-form textarea {
    font-size: 16px;
    width: 100%;
    border: solid 1px #b1d8ff;
}

.feedback-form__submit {
    padding: 8px;
    background: url('../img/bg.jpg');
    border: none !important;
    color: #FFF;
}
