.conception {

}

.conception-page__mission-text {
    margin-bottom: 30px;
}

.conception-page__mission-text h2 {
    font-size: 24px;
    color: #1a3f70;
    float: left;
    width: 33.3%;
    margin-top: 5px;
    padding-right: 15px;
    padding-left: 15px;
    text-align: right;
}
.conception-page__mission-text p {
    float: left;
    width: 50%;
    padding-right: 15px;
    padding-left: 15px;
}

.conception-page__goals-text p {
    float: left;
    width: 33.3%;
    padding-right: 15px;
    padding-left: 15px;
}

.conception-page__tasks-images img {
    margin-bottom: 43px;
}
