.enter {

}

.enter__banner img {
    width: 100%;
}

.enter__belt {
    font-size: 20px;
    margin-bottom: 20px;
}

.enter__exams {
    margin-bottom: 50px;
}

.enter__comment {
    font-size: 12px;
}
