{% extends CMS_TEMPLATE %}
{% load sekizai_tags i18n thumbnail %}

{% block content %}
    {% addtoblock 'css' %}
        <link rel="stylesheet" href="{{ STATIC_URL }}eifman_gallery/css/albums-list.css"/>
    {% endaddtoblock %}
    <h1>{% trans 'альбомы' %}</h1>

    <section class="albums-list row">
        {% for album in object_list %}
            <div class="albums-list__item col-md-3 col-sm-3">
                <div class="albums-list__cover">
                    <a href="{{ album.get_absolute_url }}"><img class="albums-list__cover-image"
                                                                src="{% thumbnail album.cover 360x180 crop %}" alt=""/></a>
                </div>
                <div class="albums-list__title"><a href="{{ album.get_absolute_url }}">{{ album.title }}</a></div>
            </div>

            {% cycle '' '' '' '</section><section class="albums-list row">' %}
        {% endfor %}
    </section>

{% endblock %}
