{% extends CMS_TEMPLATE %}
{% load sekizai_tags i18n thumbnail %}

{% block content %}
    {% addtoblock 'css' %}
        <link rel="stylesheet" href="{{ STATIC_URL }}eifman_gallery/css/album.css"/>
    {% endaddtoblock %}
    {% addtoblock 'css' %}
        <link rel="stylesheet" href="{{ STATIC_URL }}eifman_gallery/css/lightbox.css"/>
    {% endaddtoblock %}
    {% addtoblock 'js' %}
        <script src="{{ STATIC_URL }}eifman_gallery/js/lightbox.js"></script>
    {% endaddtoblock %}

    <h1>{{ object.title }}</h1>

    <div class="album row lightbox i-bem" data-bem='{"lightbox": {}}'>
        {% for file in object.folder.files %}
            <div class="album__item col-md-3 col-sm-3">
                <div class="album__item-image lightbox__item" data-id="{{ forloop.counter0 }}" data-src="{% thumbnail file 800x600 %}"><img src="{% thumbnail file 360x240 crop %}" alt=""/></div>
                {% if file.name or file.default_caption %}
                    <footer class="album__item-footer">
                    {% if file.name %}
                        <div class="album__item-title">{{ file.name }}</div>
                    {% endif %}
                    {% if file.default_caption %}
                        <div class="album__item-description">{{ file.default_caption }}</div>
                    {% endif %}
                    </footer>
                {% endif %}

            </div>
            {% empty %}
            <div class="album__empty">{% trans 'Фотографий в альбоме нет' %}</div>
        {% endfor %}
    </div>
{% endblock %}
