{% extends CMS_TEMPLATE %}
{% load i18n sekizai_tags gallery_tags %}


{% block content %}
    {% addtoblock 'css' %}
        <link rel="stylesheet" href="{{ STATIC_URL }}eifman_gallery/css/albums-list.css"/>
    {% endaddtoblock %}
    {% addtoblock 'css' %}
        <link rel="stylesheet" href="{{ STATIC_URL }}eifman_gallery/css/videos-list.css"/>
    {% endaddtoblock %}

    <h1>Галерея</h1>

    <h2 class="page__h2">{% trans 'Видео' %}</h2>
    {% gallery_videos %}

    <h2 class="page__h2">{% trans 'Фотографии' %}</h2>
    {% gallery_albums %}

{#    {% gallery_3d %}#}
{% endblock %}
