.promo {
    font-size: 24px;
    height: 500px;
    overflow: hidden;
}

.promo__row {
    line-height: 500px;
    height: 500px;
}

.promo__row_back_yes {
    line-height: 458px;
    height: 458px;
}

.promo .diorama__item {
    float: none;
    display: inline-block;
    vertical-align: bottom;
}

.promo .twilight {
    line-height: 1;
}

.promo .twilight__text {
    display: none;
    font-size: 24px;
    line-height: 1;
}
