{% load sekizai_tags %}
{% addtoblock 'css' %}
<link rel="stylesheet" href="{{ STATIC_URL }}eifman_application/css/application.css"/>
{% endaddtoblock %}

<div class="application">
    <a class="application__link" href="{{ instance.link }}">{{ instance.title }}</a>
</div>
