{% load cms_tags menu_tags cache %}

{% for child in children %}
    <li
        class="menu-footer__item
        {% if child.ancestor %}ancestor{% endif %}
        {% if child.selected %}menu-footer__item_active_yes active{% endif %}
        ">
        <a class="menu-footer__link" href="{{ child.get_absolute_url }}"><span>{{ child.get_menu_title }}</span></a>
    </li>
{% endfor %}