{% load cms_tags menu_tags cache %}

{% for child in children %}
{#  Аглихак для того, чтобы в галерее не показывалось подменю  #}
    {% if not forloop.last %}
    <li
        class="menu-main__item
        {% if child.ancestor %}ancestor{% endif %}
        {% if child.selected %}menu-main__item_active_yes active{% endif %}
        {% if child.children %} dropdown{% endif %}"
        >
        {% if child.children %}
            <a
                class="menu-main__link dropdown-toggle"
                data-toggle="dropdown"
                data-target="#"
                href="{{ child.get_absolute_url }}">{{ child.get_menu_title }}
            </a>
            <ul class="dropdown-menu menu-main__dropdown">
                {% show_menu from_level to_level extra_inactive extra_active template "" "" child %}
            </ul>
        {% else %}
            <a class="menu-main__link"
                    href="{{ child.get_absolute_url }}"><span>{{ child.get_menu_title }}</span></a>
        {% endif %}
    </li>
    {% else %}
        <li
        class="menu-main__item
        {% if child.ancestor %}ancestor{% endif %}
        {% if child.selected %}menu-main__item_active_yes active{% endif %}
        "
        >
            <a class="menu-main__link"
                    href="{{ child.get_absolute_url }}"><span>{{ child.get_menu_title }}</span></a>
        </li>
    {% endif %}
{% endfor %}
