{% load cms_tags sekizai_tags %}

{% addtoblock 'css' %}
    <link rel="stylesheet" href="{{ STATIC_URL }}eifman_collapsible_box/css/collapsible-box.css"/>
{% endaddtoblock %}
{% addtoblock 'js' %}
    <script src="{{ STATIC_URL }}eifman_collapsible_box/js/collapsible-box.js"></script>
{% endaddtoblock %}

<div class="collapsible-box{% if instance.is_collapsed %} collapsible-box_collapsed{% endif %} i-bem"
    data-bem='{"collapsible-box":{}}'>
    <div class="collapsible-box__title">{{ instance.title }}</div>
    <div class="collapsible-box__content">
        {% if instance.content %}
            {{ instance.content|safe }}
        {% endif %}
        {% for plugin in instance.child_plugin_instances %}
	        {% render_plugin plugin %}
        {% endfor %}
    </div>
</div>
