.application {
    font-size: 14px;
    overflow: hidden;
    margin-left: 28px;
    margin-bottom: 5px;
}

.application__link {
    text-decoration: none;
    color: #FFF;
}

.application__link:hover {
    color: #FFF;
}

.application__link::before {
    content: "";
    float: left;
    width: 22px;
    height: 26px;
    margin-right: 10px;
    background: url("../img/application-download.png") center no-repeat;
}
