.menu-main {
    position: relative;
    font-size: 20px;
    margin-bottom: 20px;
    background: url(../img/bg.jpg);
}

.menu-main__menu {
    position: relative;
}

.menu-main__item {
    position: static !important;
}

.menu-main__link {
    position: relative;
    padding: 39px 15px !important;
    color: #FFF !important;
    background: none !important;
}

.menu-main__link:hover {
    background: none !important;
    color: #FFF !important;
}

.menu-main__dropdown {
    font-size: 0;
    left: -15px !important;
    right: -15px !important;
    top: 100px !important;
    padding: 0;
    border: none;
    border-radius: 0;
    box-shadow: none;
}

.menu-main__dropdown::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    height: 25px;
    background: url("../img/dropdown-shadow.png") top center no-repeat;
}

.menu-main__dropdown .menu-main__item {
    font-size: 18px;
    display: inline-block;
    width: 20%;
}

.menu-main__dropdown .menu-main__link {
    padding: 10px 20px !important;
    display: block;
    color: #000 !important;
}

.open .menu-main__link::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: -1px;
    margin-left: -10px;
    border: solid 10px;
    border-color: transparent transparent #FFF;
}
