.menu-footer {
    font-size: 14px;
    margin-left: -22px;
    margin-bottom: 5px;
    padding-left: 15px;
    border-left: solid 2px rgba(255, 255, 255, .4);
}

.menu-main__item {

}

.menu-footer__link {
    padding: 4px 5px !important;
    color: #FFF !important;
    background: none !important;
}

.menu-footer__item_active_yes .menu-footer__link,
.menu-footer__link:hover {
    text-decoration: underline !important;
    background: none !important;
    color: #FFF !important;
}
