.page-footer {
    margin-top: 20px;
    padding: 20px 0 10px;
    background: url(../img/bg.jpg);
    color: #fff;
}

.page-footer__logo {
    font-size: 18px;
    margin-bottom: 15px;
}

.page-footer__contacts {
    font-size: 14px;
}

.page-footer__copyright {
    font-size: 14px;
    text-align: right;
}

.page-footer__social-icons {
    margin: 10px 0 15px;
    text-align: center;
}

.page-footer__social-icons .social-icons__icon {
    display: inline;
}
