.page-header {
    height: 104px;
}

.header__language-switcher {
    font-size: 18px;
    line-height: 32px;
    margin-top: 34px;
}

.header__social-icons {
    font-size: 0;
    margin-top: 34px;
}

.header__social-icons .social-icons__icon {
    display: inline-block;
    margin: 0 12px;
}
