.page__h2 {
    font: normal 30px/1 "AGOpus", sans-serif;
    margin: 50px 0 20px;
    color: #1a3f70
}

.page__h2 {
    font: normal 20px/1 "AGOpus", sans-serif;
    margin: 30px 0 10px;
}

.page__belt {
    padding: 30px;
    background: url("../img/bg.jpg");
    color: #FFF;
}

.page__belt .page__h2 {
    margin-top: 0;
    color: #FFF;
}
