.gallery {
    margin-bottom: 30px;
}

.gallery__content {
    position: relative;
    overflow: hidden;
    margin-bottom: 15px;
}

.gallery__wrapper {
    position: relative;
    font-size: 0;
    white-space: nowrap;
}

.gallery__item {
    font-size: 14px;
    width: 100%;
    display: inline-block;
    height: 100%;
    text-align: center;
}

.gallery__item img {
    max-width: 100%;
}

.gallery__arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
    background: #F00;
    opacity: 0.4;
    cursor: pointer;
}

.gallery__arrow:hover {
    opacity: 1;
}

.gallery:hover .gallery__arrow {
    background-color: #d0d2d0;
}

.gallery__arrow_direction_left {
    left: 0;
    background: url(../img/arrow-left.png) no-repeat 50%;
}

.gallery__arrow_direction_right {
    right: 0;
    background: url(../img/arrow-right.png) no-repeat 50%;
}

.gallery__arrow_disabled {
    opacity: 0.2;
    cursor: default;
}

.gallery__nav-item {
    cursor: pointer;
}

.gallery__nav-item:hover,
.gallery__nav-item_selected {
    opacity: 0.6;
}

.gallery__nav-item_type_THUMBNAIL {
    line-height: 85px;
    height: 85px;
    overflow: hidden;
    vertical-align: middle;
}

.gallery__nav_type_DOT {
    text-align: center;
}

.gallery__nav-item_type_DOT {
    display: inline-block;
    height: 10px;
    width: 10px;
    margin: 4px;
    background: #999;
    border: solid 2px #FFF;
    border-radius: 50%;
}

.gallery__nav_type_DOT .gallery__nav-item_selected {
    background: #FFF;
    border-color: #999;
}

.gallery__thumbnail {
    width: 100%;
    vertical-align: middle;
}
