{% load sekizai_tags %}
{% addtoblock 'css' %}
    <link rel="stylesheet" href="{{ STATIC_URL }}academy/css/partner.css"/>
{% endaddtoblock %}

<div class="col-md-4 col-sm-4 partner">
    <div class="partner__logo">
        {% if instance.link %}
            <a href="{{ instance.link }}"><img src="{{ instance.logo.url }}" alt=""/></a>
        {% else %}
            <img src="{{ instance.logo.url }}" alt=""/>
        {% endif %}
    </div>
    <div class="partner__title">
        {% if instance.link %}
            <a class="partner__link" href="{{ instance.link }}">{{ instance.title }}</a>
        {% else %}
            {{ instance.title }}
        {% endif %}
    </div>
</div>
