{% load thumbnail sekizai_tags %}

{% addtoblock 'css' %}
    <link rel="stylesheet" href="{{ STATIC_URL }}academy/css/teachers.css"/>
{% endaddtoblock %}

<section class="teachers">
    {% for teachers in objects %}
    <div class="row">
        {% for teacher in teachers %}
            <div class="col-md-3 col-sm-3 teachers__teacher">
                <div class="teachers__photo">
                    {% if teacher.photo %}
                        <img src="{% thumbnail teacher.photo 263x325 crop %}" alt=""/>
                    {% endif %}
                </div>
                <div class="teachers__last-name">{{ teacher.last_name|upper }}</div>
                <div class="teachers__names">{{ teacher.first_name }} {{ teacher.middle_name }}</div>
                <div class="teachers__position">{{ teacher.position }}</div>
            </div>
        {% endfor %}
    </div>
    {% endfor %}
</section>
