.collapsible-box {
    margin-bottom: 20px;
}

.collapsible-box__title {
    font-size: 18px;
    position: relative;
    margin-bottom: 10px;
    padding: 2px 0;
    border-bottom: solid 2px #1f4576;
    cursor: pointer;
}

.collapsible-box__title::after {
    content: "";
    position: absolute;
    right: 10px;
    top: 10px;
    border: solid transparent;
    border-top-color: #1f4576;
    border-width: 6px 6px 0;
}

.collapsible-box_collapsed .collapsible-box__title::after {
    border: solid transparent;
    border-bottom-color: #1f4576;
    border-width: 0 6px 6px;
}

.collapsible-box_collapsed .collapsible-box__content {
    display: none;
}
