{% load cms_tags sekizai_tags %}

</div>
<div class="page__belt">
    <div class="container">
        <div class="row {{ instance.custom_classes }}">
            {% for plugin in instance.child_plugin_instances %}
                {% render_plugin plugin %}
            {% endfor %}
        </div>
    </div>
</div>
<div class="container">
