{% load cms_tags sekizai_tags %}
{% addtoblock "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}eifman_box/css/box.css"/>
{% endaddtoblock %}

<section class="row">
    <div class="{{ class_names }} {{ instance.custom_classes }}">
    {% for plugin in instance.child_plugin_instances %}
	    {% render_plugin plugin %}
    {% endfor %}
    </div>
</section>
