{% load sekizai_tags %}

{% addtoblock "js" %}
    <script src="{{ STATIC_URL }}contacts/js/static-map.js"></script>
{% endaddtoblock %}

{% addtoblock "js" %}
    <script>
    $(function() {
        $('.contacts__map').staticMap();
    });
    </script>
{% endaddtoblock %}

<div class="contacts__map"
     data-longitude="{{ object.longitude|stringformat:"f" }}"
     data-latitude="{{ object.latitude|stringformat:"f" }}">
</div>
