{% for object in objects %}
    <div class="row contacts__official">
        <div class="col-md-4 col-sm-4 col-md-offset-2 col-sm-offset-2 contacts__official-position">
            {{ object.position }}:
        </div>
        <div class="col-md-4 col-sm-4 contacts__official-phone">
            {{ object.phone }}
        </div>
    </div>
{% endfor %}
