
<div class="diorama__item twilight" style="
    width: {% firstof item.width item.image.width %}px;
    height: {% firstof item.height item.image.height %}px;
    {% if item.margin_left %}
        margin-left: {{ item.margin_left }}px;
    {% endif %}
    {% if item.margin_right %}
        margin-right: {{ item.margin_right }}px;
    {% endif %}
    ">
    {% for text in item.texts.all %}
        <div class="twilight__text" style="
            {% if text.font_size %}font-size: {{ text.font_size }}px;{% endif %}
            left: {{ text.get_position.left }}px;
            top: {{ text.get_position.top }}px;
            color: {{ text.color }};
        ">{{ text.text }}</div>
    {% endfor %}
    <a class="twilight__handler" href="{{ item.page_link.get_absolute_url }}" style="
        left: {{ item.get_handler_coordinates.left }}px;
        top: {{ item.get_handler_coordinates.top }}px;
        width: {{ item.get_handler_coordinates.width }}px;
        height: {{ item.get_handler_coordinates.height }}px;
    "></a>

    <div class="twilight__image-box" style="
        left: {{ item.get_image_coordinates.left }}px;
        top: {{ item.get_image_coordinates.top }}px;
        ">
        <img src="{{ item.image.url }}" alt="" class="twilight__image_cover_yes" />
        <img src="{{ item.blur.url }}" alt="" class="twilight__image_blur_yes" />
    </div>
</div>
