{% load sekizai_tags %}

{% addtoblock "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}vendor/twilight/css/twilight.css"/>
{% endaddtoblock %}
{% addtoblock "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}vendor/diorama/css/diorama.css"/>
{% endaddtoblock %}
{% addtoblock "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}vendor/diorama/css/diorama.css"/>
{% endaddtoblock %}
{% addtoblock "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}promo/css/promo.css"/>
{% endaddtoblock %}

{% if request.user.is_staff %}
    {% addtoblock "css" %}
        <link rel="stylesheet" href="{{ STATIC_URL }}promo/css/promo_debug.css"/>
    {% endaddtoblock %}
{% endif %}

{% addtoblock "js" %}
    <script src="{{ STATIC_URL }}vendor/lodash/dist/lodash.compat.min.js"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
    <script src="{{ STATIC_URL }}vendor/jquery-easing/jquery.easing.min.js"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
    <script src="{{ STATIC_URL }}vendor/twilight/js/twilight.js"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
    <script src="{{ STATIC_URL }}vendor/diorama/js/diorama.js"></script>
{% endaddtoblock %}
{% addtoblock "js" %}
    <script>
    $(function() {
        $('.twilight').twilight();
        $('.diorama').diorama();
    });
    </script>
{% endaddtoblock %}

<div class="diorama promo">
    <div class="diorama__wrapper">
        <div class="diorama__row promo__row_back_yes">
        {% include "promo/plugins/__row.html" with row=2 %}
        </div>
        <div class="diorama__row promo__row_back_yes">
        {% include "promo/plugins/__row.html" with row=1 %}
        </div>
    </div>
</div>
