{% load thumbnail sekizai_tags %}

{% addtoblock 'css' %}
    <link rel="stylesheet" href="{{ STATIC_URL }}eifman_teaser/css/eifman-tsr.css"/>
{% endaddtoblock %}

<div class="row eifman-tsr">
    <div class="col-md-4 col-sm-4 col-md-offset-2 col-sm-offset-2">
        {% if instance.image %}
            {% thumbnail instance.image size crop=opts.crop subject_location=opts.subject_location as thumbnail %}
            {% if instance.link %}
                <a href="{{ instance.link.get_absolute_url }}"><img class="eifman-tsr__image" src="{{ thumbnail.url }}" /></a>
            {% else %}
                <img class="eifman-tsr__image" src="{{ thumbnail.url }}" />
            {% endif %}
        {% endif %}
    </div>

    <article class="col-md-6 col-sm-6 eifman-tsr__data">
        <h2 class="eifman-tsr__title">
            {% if instance.link %}
                <a href="{{ instance.link.get_absolute_url }}">{{ instance.title }}</a>
            {% else %}
                {{ instance.title }}
            {% endif %}
        </h2>

        <div class="eifman-tsr__text">{{ instance.description|safe }}</div>
    </article>
</div>
