{% load sekizai_tags %}
{% addtoblock "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/breadcrumb.css"/>
{% endaddtoblock %}

<nav class="breadcrumb">
{% for ance in ancestors %}
<span class="breadcrumb__item">
	{% if not forloop.last %}
	    <a class="breadcrumb__item-link" href="{{ ance.get_absolute_url }}">{{ ance.get_menu_title }}</a>
        <span class="breadcrumb__spacer">/</span>
	{% else %}
	<span class="breadcrumb__item-text">{{ ance.get_menu_title }}</span>
	{% endif %}
</span>
{% endfor %}
</nav>
