{% load cms_tags social_links sekizai_tags %}
{% addtoblock "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/page-footer.css"/>
{% endaddtoblock %}

<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="page-footer__logo col-md-4 col-sm-4">Академия танца Бориса Эйфмана</div>
            <div class="col-md-8 col-sm-8">
                {% include 'inc/menu-footer.html' %}
            </div>
        </div>

        <div class="row">
            <section class="page-footer__contacts col-md-4 col-sm-4">
                {% static_placeholder 'contacts' %}
            </section>

            <section class="page-footer__additional col-md-5 col-sm-5 col-md-offset-3 col-sm-offset-3">
                <nav class="page-footer__social-icons">
                    {% social_icons %}
                </nav>
                <p class="page-footer__copyright">&copy; Академия танца Бориса Эйфмана. Все права защищены</p>
            </section>
        </div>
    </div>
</footer>
