{% load menu_tags social_links sekizai_tags %}
{% addtoblock "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/page-header.css"/>
{% endaddtoblock %}

<header class="site-header">
    <div class="container">
        <div class="logo pull-left">
            <a href="/"><img src="{{ STATIC_URL }}img/logo.png" alt=""/></a>
        </div>
        <nav class="header__language-switcher pull-right">
            {% language_chooser "inc/language_chooser.html" %}
        </nav>
        <nav class="header__social-icons pull-right">
            {% social_icons %}
        </nav>
    </div>
</header>
