{% load i18n menu_tags sekizai_tags %}
{% addtoblock "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/language-chooser.css"/>
{% endaddtoblock %}

{% get_available_languages as languages %}
{% if languages|length > 1 %}
<nav class="language-chooser">
    {% for language in languages %}
        {% ifequal current_language language.0 %}
            <span class="language-chooser__text">
                {{ language.0 }}
            </span>
        {% else %}
            <a class="language-chooser__link"
                href="{% page_language_url language.0 %}" title="{% trans "Change to language:" %} {{ language.1 }}">{{ language.0 }}</a>
        {% endifequal %}
        {% if not forloop.last %}
            <span class="language-chooser__separator">|</span>
        {% endif %}
    {% endfor %}
</nav>
{% endif %}
