{% load menu_tags sekizai_tags %}
{% addtoblock "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/menu-main.css"/>
{% endaddtoblock %}

{% block mainmenu %}
    <div class="menu-main" role="navigation">
        <div class="container">
            <ul class="menu-main__menu nav nav-pills nav-justified">
                {% show_menu 1 2 100 100 "menu/main-menu.html" %}
            </ul>
        </div>
    </div>
{% endblock %}
