{% load menu_tags sekizai_tags %}
{% addtoblock "css" %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/menu-footer.css"/>
{% endaddtoblock %}

{% block menufooter %}
    <div class="menu-footer" role="navigation">
        <ul class="nav nav-pills nav-justified">
            {% show_menu 1 1 100 100 "menu/footer-menu.html" %}
        </ul>
    </div>
{% endblock %}