<nav class="language-switcher">
    <span class="language-switcher__item">ru</span>
    <span class="language-switcher__spacer">|</span>
    <a href="{{ url }}" class="language-switcher__link">en</a>
</nav>