{% extends CMS_TEMPLATE %}
{% load i18n sekizai_tags contacts_tags %}

{% block extrajs %}
    <script type="text/javascript"
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD561cxzs-J1bFfA--bia4ZU227aDKjwsU&sensor=true"></script>
{% endblock %}

{% block content %}
    {% addtoblock "css" %}
        <link rel="stylesheet" href="{{ STATIC_URL }}contacts/css/contacts.css"/>
    {% endaddtoblock %}

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-sm-8">
                {% address_map %}
            </div>
            <div class="col-md-4 col-sm-4 contacts__address">
                {% address %}
            </div>
        </div>

        <div class="contacts__officials">
            {% officials %}
        </div>

        {% block contacts_content %}{% endblock %}
    </div>
{% endblock %}
