.partner {
    text-align: center;
}

.partner__logo {
    height: 190px;
    margin-bottom: 10px;
    padding: 10px;
    border: solid 1px #b1b1b1;
}

.partner__logo img {
    max-width: 100%;
    max-height: 100%;
}

.partner__title {
    font-size: 24px;
    height: 60px;
}

.partner__link {
    color: #000;
    text-decoration: none;
}

.partner__link:hover {
    color: #000
}
