.teachers {
    margin-top: 30px;
}

.teachers__teacher {
    margin-bottom: 30px;
}

.teachers__teacher_position_center {
    width: 25%;
    max-width: 260px;
    margin-left: auto;
    margin-right: auto;
}

.teachers__photo {
    height: 325px;
    margin-bottom: 10px;
}

.teachers__photo img {
    width: 100%;
}

.teachers__last-name {
    font-size: 18px;
}

.teachers__names {
    font-size: 18px;
    margin-bottom: 10px;
}

.teachers__position {
    font-size: 14px;
}
