.latest-news {
    margin-bottom: 10px;
}

.latest-news__item {
    font-size: 12px;
    padding: 10px 0;
    border-top: solid 2px #c8d2de;
}

.latest-news__item:first-child {
    border-top: none;
}

.latest-news__title {
    font-size: 24px;
}

.latest-news__description {
    line-height: 14px;
}

.latest-news__link {
    color: #080808;
}

.latest-news__pubdate {
    text-align: right;
}

.latest-news__footer {
    margin: 10px 0 30px;
    text-align: right;
}

.latest-news__archive-link {
    line-height: 12px;
    display: inline-block;
    width: 170px;
    padding: 10px;
    text-transform: lowercase;
    background: url("../../img/bg.jpg");
    color: #FFF;
}

.latest-news__archive-link:hover {
    color: #FFF;
}
