.news-item__title {
    font-size: 28px;
}

.news-item__pub-date {
    text-align: right;
}

.news-item__gallery {
    margin: 40px 0;
}

.news-item__buttons {
    text-align: center;
}

.news-item__album-link {
    line-height: 12px;
    display: inline-block;
    width: 170px;
    padding: 10px;
    text-transform: lowercase;
    background: url("../../img/bg.jpg");
    color: #FFF;
}

.news-item__album-link:hover {
    color: #FFF;
}
