.welcome {
    overflow: hidden;
    margin-left: -10px;
    padding: 20px 10px 10px 30px;
    background: #ededed;
}

.welcome__images {
    float: left;
    width: 213px;
}

.welcome__text {
    position: relative;
    font-size: 14px;
    margin-left: 222px;
    padding: 0 60px;
}

.welcome__text::before,
.welcome__text::after {
    font: 200px Arial, sans-serif;
    position: absolute;
    color: #FFF;
}

.welcome__text::before {
    content: "“";
    top: -35px;
    left: -10px;
}

.welcome__text::after {
    content: "”";
    bottom: -140px;
    right: 0;
}
